.body{
  background-color: #fefee2;
}


nav {
  background-color:	#FAEBD7;
  height: 55px;
}


.navbar-nav {
  background-color:	#FAEBD7;
}


.hero {
  background-image: url("../images/61519695_815904402125167_9074528789865693184_o.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}


.hero h1 {
  color: #FED6AC;
  font-size: 150px;
}


.hero h2 {
  color: black;
  font-size: 50px;
}


.layer2 {
  height: 100%;
  width: 100%;
  background-color: rgba(75, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}


p.image {
  vertical-align: middle;
}


card-img-top{
  height: 150px;
  border-radius: 30px;
  padding-bottom: 30px;
  
}


.row{
  padding-bottom: 100px;
  
}


.card{
  border: nonne;
}


.card-img-top{
  height: 300px;
  width: 400px;

}


.contact{
  background-image: url("../images/61519695_815904402125167_9074528789865693184_o.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  }
