{% extends 'base.html' %}


{% block content %}

  <div class="hero">
   <div class="layer2">
    <h1> Studio de danse </h1>
    <h2> Viens danser avec nous! </h2>
      </div>
  </div>


    <div class="container">
    <div class="row ">
      <div class="col-12 col-md-6">
       
         <img src="/static/images/original.jpg" class="img-fluid" width="100%" alt="">
        </div>
        <div class="col-12 col-md-6" >
          <h2> Laissez nous vous inspirez</h2>
        <p class="image">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum cum corrupti recusandae soluta neque dolorum dolorem dolor natus voluptates velit, nihil maiores laboriosam sunt at? Quod exercitationem animi assumenda praesentium.
          <br> <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non facere inventore deleniti iure delectus. Corporis ea provident, voluptate omnis ipsam perspiciatis unde a, labore autem eligendi nesciunt aliquid facilis.
          <br> <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non facere inventore deleniti iure delectus. Corporis ea provident, voluptate omnis ipsam perspiciatis unde a, labore autem eligendi nesciunt aliquid facilis.
          <br> <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non facere inventore deleniti iure delectus. Corporis ea provident, voluptate omnis ipsam perspiciatis unde a, labore autem eligendi nesciunt aliquid facilis.
          
  </p>
         
        </div>
      </div>
  </div>



  <div class="espace">
  <div class="container">
  <div class="row">


      <div class="col-12 col-md-4">
        <img src="/static/images/cietrishabrownafp.jpg" alt="Par deux" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">Par deux</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam atque ea officia non accusamus itaque nam eum at voluptatibus, quibusdam est dolorum laudantium nihil. Porro voluptatibus illum ipsa voluptatem vel?</p>
     
        <a href="" class="btn btn-primary">C'est par ici</a>
      </div>
    </div>
    
  
    
 
   

    <div class="col-12 col-md-4">
      <img src="/static/images/6087d36d6a07a_5f1ede10d0141_043_dpa-pa_200401-99-547546_dpai.jpg" alt="A la maison" class="card-img-top">
      
      <div class="card-body">
          <h5 class="card-title">A la maison</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam atque ea officia non accusamus itaque nam eum at voluptatibus, quibusdam est dolorum laudantium nihil. Porro voluptatibus illum ipsa voluptatem vel?</p>
     
        <a href="" class="btn btn-primary">C'est par ici</a>
      </div>
      </div>
     
     
      <div class="col-12 col-md-4">
      <img src="/static/images/7a90df85c7679549bc351592e8bfa38c.jpg" alt="En groupe" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">En groupe</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam atque ea officia non accusamus itaque nam eum at voluptatibus, quibusdam est dolorum laudantium nihil. Porro voluptatibus illum ipsa voluptatem vel?</p>
     
        <a href="" class="btn btn-primary">C'est par ici</a>
      </div>
      </div>
  </div>
  </div>
  </div>
    
{% endblock %}